<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'talentsearchtoolapp/homepage.css' %}">
    <title>Homepage</title>
  </head>
  <body>
    <h1>Welcome To The Talent Search Tool!</h1>
    <h2>Enter up to 10 concepts separated by commas and optionally select filters!</h2>

    <form action="">
      <div id="concepts-input-div">
        <input type="text" id="concepts-text-input"><br>
      </div>

      <div id="gender-radios-div">
        <label for="male">Male</label>
        <input type="radio" id="male" name="gender" value="male"><br>
        <label for="female">Female</label>
        <input type="radio" id="female" name="gender" value="female"><br>
      </div>

      <div id="unknown-gender-div">
        <label for="unknown-gender">Include unknown gender</label>
        <input type="checkbox" id="unknown-gender" value="include unknown gender"><br>
      </div>
      
      <label for="publication-year-input">Publications released in and after year: </label>
      <input type="text" id="publication-year-text-input"><br>

      <div id="submit-div">
        <input type="submit">
      </div>

    </form>
    <a href="">Login / Signup</a>


  </body>
</html>
