h1, h2, #concepts-input-div, #submit-div {
    text-align: center;
}

#concepts-text-input {
    width: 50em;
}

#gender-radios-div {
    padding-left: 10%;
    padding-top: 50px;
}

#unknown-gender-div {
    padding-left: 10%;
}

#publication-year-text-input {
    width: 4em;
}