thead {
    position: sticky;
    top: 0;
    background-color: aliceblue;
}

.my-input-group {
    display: flex;
    column-gap: 10px;
}

.my-input-group input {
    width: 100px;
    height: 2em;
}

#toggle-filters-div, #download-as-csv-div {
    display: flex;
    justify-content: center;
}

#filters-div {
    position: relative;
    left: 20px;
}

#gender-selection-div {
    position: relative;
    width: 30%;
    display: flex;
}