<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Bam</title>
    </head>
    <body>
        <h1 id="result">Sleeping... Zzzzzz</h1>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            function checkProcessingStatus(taskId) {
                $.ajax({
                    url: "check_processing_status",
                    data: { "task_id": taskId },
                    success: function(data) {
                        if (data.status == "complete") {
                            document.getElementById("result").textContent = "I am up babyyyy!";
                        } else if (data.status == "in_progress") {
                            setTimeout(function() {
                                checkProcessingStatus(taskId);
                            }, 1000);
                        } else {
                            console.error("Error checking processing status: ", data.message);
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error("Error checking processing status: ", error);
                    }
                });
            }
            
            $(document).ready(function() {
                let taskId = "{{ task_id }}";
                checkProcessingStatus(taskId);
            });
        </script>
    </body>
</html>